<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>WH Graph</title>
	<meta name="description" content="The description will go here eventually..."/>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Acme|Archivo+Narrow" rel="stylesheet">

	<link rel="stylesheet" href="/styles/base.css?v=1.0"/>
	<link rel="stylesheet" href="/styles/page.css?v=1.0"/>
</head>

<body>
	<div class='page__content_wrapper'>
		<div class='page__content_block'>
			<h1>{{pageTitle}}</h1>
			{{pageContent}}
		</div><!--/page__content_block-->
	</div><!--/page__content_wrapper-->
</body>
</html>
